<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fhooe/router-skeleton: GET /form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../vendor/twbs/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-lg">
                <img src="../views/images/fhooe.svg" alt="" height="30" class="d-inline-block align-text-top">
                fhooe/router-skeleton
      </div>
    </nav>
</header>
<main>
    <div class="container-lg mt-lg-4">
        <h2>Plain HTML</h2>
        <p>Go Back to Application via Button above</p>
        <p>Just demonstrating that the fhooe-router also supports plain HTML.</p>
        <p>Use the back Button <i class="bi-arrow-left-short" style="font-size: 2em"></i> of the Browser to get back to the Application</p>
    </div>
</main>
<div class="container-lg">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-lg-9 d-flex align-items-center">
            <img src="../views/images/fhooe.svg" alt="" height="24" class="me-2">
            <span class="text-muted">© FH Oberösterreich | Department of Digital Media</span>
        </div>

        <ul class="nav col-lg-3 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="text-muted" href="https://github.com/Digital-Media/fhooe-router-skeleton">
                    <i class="bi-github"></i>
                </a>
            </li>
        </ul>
    </footer>
</div>
<script src="../vendor/twbs/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
