{% extends "base.html.twig" %}

{% block title %}fhooe/router-skeleton{% endblock %}
{% block main %}
    <h2>GET /twigform & POST /twigformresult</h2>
    <p>This is the view for the "GET /twigform" route, a form using the Twig template engine.</p>
    <p>It submits to the "POST /twigformresult" route which is resolved through the provided <code>&#123;&#123; url_for() &#125;&#125;</code></p>

    <div class="border p-3 mt-5">
        <h3>Example Twig Template Form</h3>
        <form method="post" action="{{ url_for("/twigformresult") }}">
            <div class="mb-3">
                <label for="nameInput" class="form-label">Your Name</label>
                <input type="text" class="form-control" id="nameInput" name="nameInput"
                       placeholder="your name" aria-describedby="nameHelp" autocomplete="name" required>
                <div id="nameHelp" class="form-text">Please enter the email address you registered with.</div>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck" name="exampleCheck">
                <label class="form-check-label" for="rememberCheck">Example Check Box</label>
            </div>
            <div class="mb-3">
                <label for="exampleselect" class="form-label">Product Category</label>
                <select name="exampleselect" id="exampleselect" size="1" class="form-control">
                        <option>Nothing to select so far</option>
                </select>
                <div id="exampleselectHelp" class="form-text">Please choose an option.</div>
            </div>
            <div class="mb-3">
                <label for="exampleradio" class="form-label">Example Radio</label>
                <input type="radio" id="exampleradio" name="exampleradio"  value="1" checked="checked"><span>&nbsp;</span>
            </div>
            <div class="mb-3">
                <label for="exampletextarea" class="form-label">Example Textarea</label>
                <textarea name="exampletextarea" id="exampletextarea" cols="10" rows="2"
                          class="form-control" aria-describedby="areaHelp"
                          autocomplete="current-textarea"></textarea>
                <div id="areaHelp" class="form-text">Please enter a text.</div>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
{% endblock %}