{% extends "base.html.twig" %}

{% block title %}fhooe/router-skeleton{% endblock %}
{% block main %}
    <h2>GET /twigform & POST /twigformresult</h2>
    <p>This is the view for the "GET /twigform" route, a form using the Twig template engine.</p>
    <p>It submits to the "POST /twigformresult" route which is resolved through the provided <code>&#123;&#123; url_for() &#125;&#125;</code></p>

    <div class="border p-3 mt-5">
        <h3>Example Twig Template Form</h3>
        <form method="post" action="{{ url_for("POST /twigformresult") }}">
            <div class="mb-3">
                <label for="nameInput" class="form-label">Your Name</label>
                <input type="text" class="form-control" id="nameInput" name="nameInput"
                       placeholder="your name" aria-describedby="nameHelp" autocomplete="name" required>
                <div id="nameHelp" class="form-text">Please enter the email address you registered with.</div>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="rememberCheck" name="rememberCheck">
                <label class="form-check-label" for="rememberCheck">Remember me</label>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
{% endblock %}